@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
body {
    box-sizing: border-box;
    background-color: #111111;
    margin: 0;
    padding: 0;
}

li,
a,
button {
    font-family: 'Merriweather', serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 70px;
    background-color: black;
}

.box-search {
    list-style: none;
}

.box-search li {
    display: inline-block;
    padding: 0px 5px;
}

.btn-login button {
    padding: 5px 20px;
    background-color: #09b7fc;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease 0s;
}

.btn-login button:hover {
    background-color: #56ccf4;
}

.input-search {
    padding: 10px 50px;
    border: none;
    border-radius: 20px;
    background-color: #111111;
    color: white;
    font-family: 'Merriweather', serif;
    font-weight: 500;
    font-size: 16px;
}

.input-search:hover {
    background-color: #1c1c1c;
}

.btn-search {
    padding: 5px 10px;
    border-radius: 50px;
    background-color: #09b7fc;
    font-size: 20px;
    color: white;
}

.btn-search:hover {
    background-color: #52ceff;
}

.image {
    position: relative;
    overflow: hidden;
}

.colu {
    position: relative;
    transition: transform .2s;
    overflow: hidden;
}

.colu:hover {
    transform: scale(1);
}

.image::before {
    content: '';
    position: absolute;
    bottom: -60px;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, #000 50%, transparent);
    transition: 0.5s;
    z-index: 1;
}

.w-100 {
    transition: 0.5s;
}

.colu:hover .w-100 {
    filter: blur(5px);
    transform: translateY(-20px);
}

.colu:hover .image::before {
    transform: translateY(-60px);
}

.detail {
    position: absolute;
    padding: 5px;
    left: 5;
    width: 95%;
    height: 80%;
    bottom: -50px;
    box-sizing: border-box;
    transition: 0.5s;
    z-index: 2;
}

.colu:hover .detail {
    transform: translateY(-100px);
}

.detail a h2 {
    font-size: 25px;
    text-shadow: 2px 2px 8px #111111;
}

.detail h4 {
    font-size: 17px;
    color: #28a745;
}

.detail p {
    color: lightcyan;
    width: 85%;
    font-size: 10px;
}